@using Saaya.Web.Common.Extensions;
@using Saaya.Web.Db.Models;
@using Saaya.Web.Utility;
@using Westwind.AspNetCore.Markdown;
@model Post

@{
    ViewData["Title"] = @$"{Model.Title}";
}

<head>
    <meta property="og:image" content="@Model.Image" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@(Model.Content.Substring(0, Math.Min(Model.Content.Length, 150)))...." />
    <meta property="og:url" content="https://saaya.dev/blog/@Model.Id" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
</head>

<div class="sp-liw__container">
    <span class="sp-liw__header-title">
        @Model.Title
        <span style="display: flex; flex-direction: row; gap: 0.35rem;">
            <span class="sp-liw__date--last_update">Posted At:</span>
            <i class="sp-liw__date">@((new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc).AddSeconds(Model.DateCreated).ToString("MM/dd/yyyy")))</i>
        </span>

        @*// This can be used for tags
        <span style="display: flex; flex-direction: row; gap: 0.35rem;">
        <a href="#" style="font-size: 14px; color: rgb(255, 70, 150);">CODING</a><a href="#" style="font-size: 14px; color: rgb(255, 70, 150);">CODING</a><a href="#" style="font-size: 14px; color: rgb(255, 70, 150);">CODING</a>
        </span>*@
    </span>
    <div class="sp-liw__header">
        <img class="sp-liw__header-image" src="@Model.Image" alt="thumbnail">
    </div>
    <div class="sp-liw__content">
        @Markdown.ParseHtmlString(Model.Content, sanitizeHtml: false)
        @if (Context.Session.IsAuthenticated())
        {
            @if (ViewContext.HttpContext.Session.HasRole(StaticDetails.Admin))
            {
                <br />
                <div class="sp-liw__content">
                    <a class="saaya-header__button" asp-controller="blog" asp-action="add" asp-route-id="@Model.Id">Edit</a>
                </div>
            }
        }
    </div>
</div>